<h1 class="page-header text-center">Clients</h1>

<div class="row move-down">
  <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
    <% if Client.all.empty? %>
    <p class="lead text-center">You don't have any Clients yet. <a href="/clients/new" class="btn btn-primary stretch bump-down" role="button">Add one!</a></p>
    <% else %>
    <form action="/clients">
      <div class="form-group">
        <label target="title">Lookup a client or <a href="/clients/new">add one</a>:</label>
        <input id="name" name="name" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary stretch">Search</button>
    </form>
    <% end %>
  </div>

  <% unless @clients.empty? %>
    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
      <h3>Lookup results:</h3>
      <ul class="lookup-results">
        <% @clients.each do |client| %>
        <li><a href="/clients/<%= client.id %>"><%= client.full_name %></a></li>
        <% end %>
      </ul>
    </div>
  <% end %>

</div>

<a href="/" class="back-link">< Back</a>
