<h1 class="page-header text-center">Home</h1>

<div class="row move-down">
  <!--<p class="text-center lead">Please select an option below:</p>-->
  <div class="col-sm-6 col-sm-offset-3 text-center">

    <% if @stylist_count.eql?(0) %>
      <a href="/stylists/new" class="btn btn-default stretch" role="button">
        No stylists exist, click to add
      </a>
    <% else %>
      <a href="/stylists" class="btn btn-default stretch" role="button">Stylists
        (<%= @stylist_count %> total)
      </a>
    <% end %>

    <% if @client_count.eql?(0) %>
    <a href="/clients/new" class="btn btn-default stretch" role="button">
      No clients exist, click to add
    </a>
    <% else %>
    <a href="/clients" class="btn btn-default stretch" role="button">Stylists
      (<%= @stylist_count %> total)
    </a>
    <% end %>

  </div>
</div>
