<h1 class="page-header text-center">Home</h1>

<div class="row move-down">
  <!--<p class="text-center lead">Please select an option below:</p>-->
  <div class="col-sm-6 col-sm-offset-3 text-center">
    <a href="/stylists" class="btn btn-default stretch" role="button">Stylists</a>
    <a href="/clients" class="btn btn-default stretch" role="button">Clients</a>
  </div>
</div>
