<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hair Salon</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/styles.css'>
</head>
<body>
  <a href="/" class="top-left">Lluminaire Hair Salon</a>

  <div class="container">
    <%= yield %>
  </div>

  <a href="/reset" class="bottom-left" title="Resets all data on the site (for testing purposes).">Reset everything!</a>
</body>
</html>
